<ion-header>
  <ion-toolbar>
    <ion-title>Customer Requests</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="padding-page">
  <ion-card *ngFor="let request of requests; let i = index">
    <ion-card-content>
      <ion-item lines="none">
        <ion-grid>
          <ion-row>
            <ion-col size-sm><ion-label>{{request.customerName}}</ion-label></ion-col>
            <ion-col size-sm class="text-right">
              <ion-label [color]="getStatusClass(request.status)"><b>{{request.status | titlecase }}</b>
              </ion-label>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-sm><ion-label>{{request.dateRequested}}</ion-label></ion-col>
            <ion-col size-sm class="text-right">
              <ion-button size="small" color="primary" (click)="showProducts(request)">
                <ion-icon name="albums"></ion-icon>
              </ion-button>
              <ion-button size="small" color="primary" (click)="showMessages(request)">
                <ion-icon name="logo-whatsapp"></ion-icon>
              </ion-button>
              <ion-button size="small" color="primary" (click)="makeCall(request)">
                <ion-icon name="call"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
