<ion-content>
  <div>
    <h3>Products</h3>
    <ion-item slot="end">
      <ion-buttons slot="end">
        <ion-button icon-only (click)="add()">
          <ion-icon color="secondary" name="add-circle" style="zoom:2.0;"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </div>


  <ion-list>
    <ion-item *ngFor="let product of productList; let i = index" class="list">
      <!-- <ion-icon item-left *ngIf="produto.icon" color="primary" [name]="produto.icon"></ion-icon> -->
      <!-- <img *ngIf="produto.img" [src]="produto.img" alt="" item-left class="product-thumb" />  -->
      <img item-left src="assets/imgs/food.png" class="product-thumb" scroll="false">
      <ion-label class="label-margin">
        <h2 text-wrap>{{product.name}}</h2>
        <p>₹ {{product.price}}</p>
      </ion-label>
      <div item-end>
        <ion-button color="light" icon-only clear (click)="updateProduct(product)" size="small">
          <ion-icon name="create" (click)="updateCart(product)"></ion-icon>
        </ion-button>
        <ion-button color="light" icon-only (click)="deleteProduct(product.id)" size="small">
          <ion-icon color="danger" name="trash"></ion-icon>
        </ion-button>
      </div>
      <div class="row">
        <div item-end>
          <ion-button *ngIf="product.isActive" (click)="approveProduct(product.id)" color="success"
            name="checkmark-circle" size="small">Active</ion-button>
          <ion-button *ngIf="!product.isActive" (click)="dissapproveProduct(product.id)" color="danger"
            name="close-circle" size="small">Deactive</ion-button>
        </div>
      </div>

    </ion-item>
  </ion-list>
</ion-content>